<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>New Note</title>-->
<!--    <div th:insert="fragments/css :: head-style"></div>-->
<!--</head>-->
<!--<body>-->
<!--<div th:insert="fragments/css :: body-links"></div>-->
<!--<div>-->
<!--    <h2>New Note</h2><br/>-->
<!--    <form th:action="@{/notes}" th:object="${note}" method="post" autocomplete="off">-->
<!--        <div class="form-group">-->
<!--&lt;!&ndash;            <textarea rows="5" th:field="*{body}" placeholder="What's happening?" class="form-control"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;            <label th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="validation-message"></label>&ndash;&gt;-->
<!--        </div>-->
<!--    </form>-->
<!--    <div th:if="${successMessage}">-->
<!--        <h3><span class="text-success" th:utext="${successMessage}"></span></h3>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->